{% extends 'project/project.html' %}

{% block content %}

<div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12 m-3 text-center">
        <h1>Vitality</h3>
            <p>
                An all in one platform allowing users to connect to nearby trainers, schedule meetings, share workouts,
                and encourage healthy dieting.
            </p>
    </div>
</div>

<div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12 m-3 text-center">
        <h3>Mission</h3>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-6 text-center">
        <img src="{{ url_for('static', filename='images/vitality/FrontPage.png') }}" alt="Viality Front Page"
            class="w-75 img-border">
    </div>
    <div class="col-sm-12 col-md-6 col-lg-6">
        <p class="pl-3 pr-3 description">
            A <b>free and centralized</b> web application that allows users to take charge of
            their health by connecting with real trainers, recieve personalized workouts, and guidance with dietary
            plans recommended to you. Users can also find gyms and recreation centers in your area, and ultimately
            become part of a community that values and promotes healthy living.
        </p>
    </div>
</div>

<div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12 m-3 text-center">
        <h3>Features</h3>
    </div>

    <div class="col-sm-12 col-md-6 col-lg-6">
        <p class="pl-3 pr-3 description">
            <b>Invite and connect</b> with trainers near you, and AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
        </p>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-6 text-center">
        <img src="{{ url_for('static', filename='images/vitality/ShowTrainers.png') }}" alt="Viality Front Page"
            class="w-75 img-border">
    </div>


</div>

<div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12 m-3 text-center">
        <h3>Live Demo</h3>
    </div>

    <div class="col-sm-12 mt-4 text-center">
        <a href="" class="button_link">View the live demo!</a>
    </div>
    


</div>
{% endblock %}