{% extends 'project/project.html' %}

{% block content %}

<div class="row mt-4">
    <div class="col-sm-12 col-md-12 col-lg-12 mt-3 text-center">
        <h1>Vitality</h1>
        <p class="w-50">
            An all in one platform allowing users to connect to nearby trainers, schedule meetings, share workouts,
            and encourage healthy dieting.
        </p>
    </div>
</div>

<div class="row  mb-4">
    <div class="col-sm-12 col-md-12 col-lg-12 mt-3 text-center">
        <h2>Mission</h2>
    </div>
</div>

<div class="row mb-4">
    <div class="col-sm-12 col-md-12 text-center mission">
        <img src="{{ url_for('static', filename='images/vitality/FrontPage.png') }}" alt="Viality Front Page">

        <p class="text-center w-50 mt-4">
            A <b>free and centralized</b> web application that allows users to take charge of
            their health by connecting with real trainers, recieve personalized workouts, and guidance with dietary
            plans recommended to you. Users can also find gyms and recreation centers in your area, and ultimately
            become part of a community that values and promotes healthy living.
        </p>
    </div>
</div>

<div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12 mt-3 text-center">
        <h2>Features</h2>
    </div>
</div>

<div class="row mt-3">
    <!-- Invite trainers near you -->
    <div class="col-sm-12 col-md-6 text-center feature">
        <img src="{{ url_for('static', filename='images/vitality/ShowTrainers.png') }}" alt="Viality Front Page"
            class="w-75">

        <p class="text-center w-75 pt-4">
            <b>Invite and connect</b> with trainers near you by searching through our diverse set of trainers ready to
            guide you through workouts. Search is based on username or full names, where a trainee can send an
            invitation to connect.
        </p>
    </div>

    <!-- Search on a map for trainers near you -->
    <div class="col-sm-12 col-md-6 text-center feature">
        <img src="{{ url_for('static', filename='images/vitality/TrainersNearYou.png') }}" alt="Viality Front Page"
            class="w-75">

        <p class="text-center w-75 pt-4">
            Integration with <b>Google Maps</b> allows trainees the ability to get a sense of the availability around
            their area. Insipired by Tesla's Supercharger Map, trainees can select points within the map to view
            trainer names around their area.
        </p>
    </div>

    <!-- Create Events -->
    <div class="col-sm-12 col-md-6 text-center feature">
        <img src="{{ url_for('static', filename='images/vitality/CreateEvents.png') }}" alt="Viality Front Page"
            class="w-75">

        <p class="text-center w-75 pt-4">
            <b>Schedule meetings</b> with trainers detailing specific workouts and meeting times to added trainers.
        </p>
    </div>

    <!-- Get Recommended Diets -->
    <div class="col-sm-12 col-md-6 text-center feature">
        <img src="{{ url_for('static', filename='images/vitality/Diets.png') }}" alt="Viality Front Page" class="w-75">

        <p class="text-center w-75 pt-4">
            View diets from select categories through <b>Youtube recommendations</b> on diets and workouts.
        </p>
    </div>

    <!-- Create, Search, View Workouts -->
    <div class="col-sm-12 col-md-6 text-center feature">
        <img src="{{ url_for('static', filename='images/vitality/Workouts.png') }}" alt="Viality Front Page"
            class="w-75">
        <p class="text-center w-75 pt-4">
            <b>Create, search, and view</b> workouts from other trainers and earn experience points on the difficulty
            you could accomplish!
        </p>
    </div>
</div>

<div class="row">
    <div class="col-sm-12 col-md-12 text-center">
        <h2>
            Technologies used
        </h2>

        <table>
            <tr>
                <td>Python</td>
            </tr>
            <tr>
                <td>Flask</td>
            </tr>
            <tr>
                <td>Github Actions</td>
            </tr>
            <tr>
                <td>Docker</td>
            </tr>
            <tr>
                <td>Nginx</td>
            </tr>
            <tr>
                <td>Ansible</td>
            </tr>
        </table>
    </div>
</div>

<div class="row mt-3">
    <div class="col-sm-12 col-md-6 mt-3 text-center">
        <h2 style="padding-bottom: 1em;">Live Demo</h2>
        <a href="https://vitality.santosderek.com" class="button_link">View the live demo!</a>
    </div>

    <div class="col-sm-12 col-md-6 mt-3 text-center">
        <h2 style="padding-bottom: 1em;">Github</h2>
        <a href="https://github.com/santosderek/Vitality" class="button_link">View source on github!</a>
    </div>
</div>
{% endblock %}