/* Base.css */ 
* {
    margin: auto; 
    padding: 0px; 
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

body {
    /* background-color: #292929; */
    /* background-color: #1b1b1d; */
    background-color: white;
    color: black; 
    font-size: x-large;
    font-family: 'Roboto', sans-serif;
}
.navbar-toggler, .navbar-toggler-icon {
    background-color: #292929;
    border-color: white;
    color: black; 
}

a {
    text-decoration: none;
}

.navbar-brand, .nav-link {
    color: black; 

}

.navbar-brand:hover, .nav-link:hover {
    color: black; 
}