/* Base.css */ 
* {
    margin: auto; 
    padding: 0px; 
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

body {
    /* background-color: #292929; */
    /* background-color: #1b1b1d; */
    background-color: white;
    color: black; 
    font-size: x-large;
    font-family: 'Raleway', sans-serif;
}
header { }

main {
    width: 80%;
}
a {
    text-decoration: none;
    color: black;
}
a:hover {
    text-decoration: none;
    color: #f1b24a;
}

h1 {
    font-size: 5em;
}
h2 {
    font-size: 2em;
}
h3 {
    font-size: 1.5em;
}
p {
    font-size: 1em;
}

.table td, .table th{
    border: none; 
}

.navbar-brand, .nav-link {
    font-family: 'Roboto', sans-serif;
}

.navbar-toggler, .navbar-toggler-icon {
    background-color: #292929;
    border: none;
    color: black; 
}

.navbar-toggler-icon { 
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 0.8)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E"); 
} 

.navbar-toggler-icon:hover{ 
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(241, 178, 74, 0.8)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E"); 
} 


.navbar-brand, .nav-link {
    color: black; 

}

.navbar-brand:hover, .nav-link:hover {
    color: #f1b24a; 
}

.jumbotron {
    background-color: black;
    color: white; 
}
