.navbar {
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0em 2em;
    font-size: 1.7em;
}

.navbar a {
    color: black;
    text-decoration: none;
}

.navbar a:hover {
    color: #E24E42;
}

.navbar img[src$=".svg"] {

    width: 1.5em;
    filter: invert(17%) sepia(0%) saturate(1641%) hue-rotate(158deg) brightness(96%) contrast(93%);
}
