<!doctype html>
<html lang="en">

{% include 'header.html' %}

<body>
    <header>
        {% include 'navbar.html'%}
    </header>
    <main>
        <div style="display: none;" id="content">
            {% block content %}{% endblock %}
        </div>
        <div id="loading" class="row" style="min-height: 80vh;">
            <div class="my-auto text-center">
                <p>LOADING</p>
                <div class="spinner-border text-success" role="status">
                    <span class="sr-only">Loading...</span>
                  </div>
            </div>
        </div>
    </main>
    
    <script>
        imagesToPreload = {{imagesToPreload|safe}};
        window.addEventListener("load", () => {
            preload(imagesToPreload);
            revealContent(imagesToPreload);
        }, false);
    </script>
</body>

</html>