<!doctype html>
<html lang="en">

{% include 'header.html' %}

<body id="my-scrollbar">
    <header>
        {% include 'navbar.html'%}
    </header>
    <main >
        <div style="display: none;" id="content">
            <div style="display: none;" id="pageLocation" class="list-group">
                <a class="list-group-item list-group-item-action" href="#experience">Experience</a>
                <a class="list-group-item list-group-item-action" href="#skills">Skills</a>
                <a class="list-group-item list-group-item-action" href="#projects">Projects</a>
                <a class="list-group-item list-group-item-action" href="#resume">Resume</a>
                <a class="list-group-item list-group-item-action" href="#contact">Contact</a>
            </div>
            <div data-spy="scroll" data-target="#pageLocation" data-offset="0" class="scrollspy-example">
                {% block content %}{% endblock %}
            </div>
        </div>
        <div id="loading" class="row" style="min-height: 80vh;">
            <div class="col-sm-12 my-auto">
                <p class="text-center">Loading...</p>
            </div>
        </div>
    </main>
</body>

</html>