{% extends 'base.html' %}
{% block content %}
<div class="row mt-5">
    <div class="col text-center">
        <h3 class="w-50">My name is Derek Santos.<br />I am a software developer with a passion for automation and
            orchestration.</h3>
        <p style="color: #b9b9b9;">Scroll below to see my work!</p>
    </div>
</div>
<div class="row mt-5">
    <div class="col">

    </div>
</div>


<div class="jumbotron pl-5">
    <h1 class="display-4 text-center" id="experience">Experience</h1>
    <p class="lead text-center">Where my inspiration and hobbies are brought to life.</p>
    <hr class="my-4">
</div>

<div class="row">
    <div class="col-sm-12 col-md-12">
        <h3>Career</h3>
        <p>some chart of career...</p>
    </div>
    <div class="col-sm-12 col-md-12">
        <h3>Education</h3>
        <p>Some chart of education with ranking of how good I am...</p>
    </div>
</div>

<div class="jumbotron pl-5">
    <h1 class="display-4 text-center" id="skills">Skills</h1>
    <p class="lead text-center">Where my inspiration and hobbies are brought to life.</p>
    <hr class="my-4">
</div>

<div class="row">
    <div class="col-sm-12 col-md-12">
        <h3><b>Technologies</b></h3>
        <table class="table table-hover">
            <tbody>
                <tr>
                    <td scope="row">Python</td>
                    <td>*****</td>
                </tr>
                <tr>
                    <td scope="row">Java</td>
                    <td>*****</td>
                </tr>
                <tr>
                    <td scope="row">C++</td>
                    <td>*****</td>
                </tr>
                <tr>
                    <td scope="row">HTML</td>
                    <td>*****</td>
                </tr>
                <tr>
                    <td scope="row">CSS</td>
                    <td>*****</td>
                </tr>
                <tr>
                    <td scope="row">Javascript</td>
                    <td>*****</td>
                </tr>
                <tr>
                    <td scope="row">Git</td>
                    <td>*****</td>
                </tr>
                <tr>
                    <td scope="row">Docker</td>
                    <td>*****</td>
                </tr>
                <tr>
                    <td scope="row">LXD / LXC</td>
                    <td>*****</td>
                </tr>
                <tr>
                    <td scope="row">Ansible</td>
                    <td>*****</td>
                </tr>
                <tr>
                    <td scope="row">Open Computer Vision</td>
                    <td>*****</td>
                </tr>
                <tr>
                    <td scope="row">NGINX</td>
                    <td>*****</td>
                </tr>
                <tr>
                    <td scope="row">Flask</td>
                    <td>*****</td>
                </tr>
                <tr>
                    <td scope="row">Github</td>
                    <td>*****</td>
                </tr>
                <tr>
                    <td scope="row">GitLab</td>
                    <td>*****</td>
                </tr>
                <tr>
                    <td scope="row">Elasticsearch</td>
                    <td>*****</td>
                </tr>
                <tr>
                    <td scope="row">Logstash</td>
                    <td>*****</td>
                </tr>
                <tr>
                    <td scope="row">Kibana</td>
                    <td>*****</td>
                </tr>
                <tr>
                    <td scope="row">REST APIs</td>
                    <td>*****</td>
                </tr>
                <tr>
                    <td scope="row">JSON</td>
                    <td>*****</td>
                </tr>
                <tr>
                    <td scope="row">YAML</td>
                    <td>*****</td>
                </tr>
            </tbody>
        </table>
        <hr class="my-4">
    </div>
    <div class="col-sm-12 col-md-12">
        <h3><b>Tools</b></h3>
        <table class="table table-hover">
            <tbody>

                <tr>
                    <td scope="row">Proxmox</td>
                    <td>*****</td>
                </tr>
                <tr>
                    <td scope="row">Debian</td>
                    <td>*****</td>
                </tr>
                <tr>
                    <td scope="row">Ubuntu</td>
                    <td>*****</td>
                </tr>
                <tr>
                    <td scope="row">Manjaro</td>
                    <td>*****</td>
                </tr>
                <tr>
                    <td scope="row">Windows</td>
                    <td>*****</td>
                </tr>
                <tr>
                    <td scope="row">VSCode</td>
                    <td>*****</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>



<div class="jumbotron pl-5">
    <h1 class="display-4 text-center" id="projects">Projects</h1>
    <p class="lead text-center">Where my inspiration and hobbies are brought to life.</p>
    <hr class="my-4">
</div>
<div class="row">
    <div class="col-sm-12">
        <h3>Vitality</h3>
        <p>Find and schedule trainers near you.</p>
    </div>
    <div class="col-sm-12">
        <h3>Imgur to Folder</h3>
        <p>Bulk download imgur albums, tags, or your profile with a single command.</p>
    </div>
    <div class="col-sm-12">
        <h3>Fruit Flies</h3>
        <p>Controls Kasa light switches with a webapi.</p>
    </div>
    <div class="col-sm-12">
        <h3>Flask-Kasa</h3>
        <p>Controls Kasa light switches with a webapi.</p>
    </div>

</div>
<div class="row">
    <div class="col-sm-12">
        <h3>... and many more!</h3>
        <p>Github</p>
    </div>
</div>

<div class="jumbotron pl-5">
    <h1 class="display-4 text-center" id="contact">Contact</h1>
    <p class="lead text-center">Where my inspiration and hobbies are brought to life.</p>
    <hr class="my-4">
</div>

<div class="row">
    <div class="col-sm-12 col-md-12">
        <h3>Technologies</h3>
        <p>Some chart of Technologies with ranking of how good I am...</p>
    </div>
    <div class="col-sm-12 col-md-12">
        <h3>Tools</h3>
        <p>some chart of tools...</p>
    </div>
</div>
{% endblock %}