{% extends 'base.html' %}
{% block content %}
<div class="row parallax" style="min-height: 95vh;">
    <div class="col text-center introjumbo">
        <h2>Derek Santos</h2>
        <h3 class="w-75">A software developer with a passion for automation and orchestration.</h3>
        <p style="color: #8d8d8d;">Scroll below to see my work!</p>
    </div>
</div>

<div class="content pt-3">
    <div class="jumbotron pl-5">
        <h1 class="display-4 text-center" id="experience">Experience</h1>
        <p class="lead text-center">"The only way to know how strong you are is to keep testing your limits." – Jor El
        </p>
    </div>

    <div class="row">
        <div class="col">
            <h2>Career</h2>
        </div>
    </div>

    {% for career in careers %}
    <div class="row career">
        <div class="col-md-12 col-lg-4 career_header">
            <h3>{{career['title']}}</h3>
            {% if "type" in career %}
            <p>{{career['type']}}</p>
            {% endif %}
            <p>{{career['date']}}</p>
            <p>{{career['location']}}</p>
        </div>
        <div class="col-md-12 col-lg-8 career_description">
            <ul>
                {% for description in career['descriptions'] %}
                <li>{{ description }}</li>
                {% endfor %}
            </ul>
        </div>
    </div>
    {% endfor %}

    <hr />
    <div class="row">
        <div class="col">
            <h2>Education</h2>
        </div>
    </div>

    {% for education in educations %}
    <div class="row education">
        <div class="col-sm-12 col-lg-4">
            <h3>{{education['title']}}</h3>
            <p>{{education['date']}}</p>
        </div>
        <div class="col-sm-12 col-lg-8 education_description">
            <p><b>{{education['degree']}}</b></p>
            <p><em>Relevant Courses:</em></p>
            <ul>
                {% for course in education['relevantCourses'] %}
                <li>{{course}}</li>
                {% endfor %}
            </ul>

            {% for addition in education['additional'] %}
            <p>{{addition}}</p>
            {% endfor %}
        </div>
    </div>
    {% endfor %}

    <div class="jumbotron pl-5">
        <h1 class="display-4 text-center" id="skills">Skills</h1>
        <p class="lead text-center">"Power! Unlimited power!" - Darth Sidious</p>
    </div>

    <div class="row">
        <div class="col-sm-12 col-md-12">
            <h2><b>Technologies</b></h2>
        </div>
        <div class="col-sm-6 col-lg-6">
            <table class="table table-hover">
                <tbody>
                    {% for entry in technologies_left%}
                    <tr>
                        <td class="skill_title" scope="row">
                            <span>
                                {{entry[0]}}
                            </span>
                        </td>
                        <td class="skill_stars">
                            <span>
                                {% for _ in range(entry[1]) %}
                                <i style="font-size: .5em;" class="fas fa-star"></i>
                                {% endfor %}
                                {% for _ in range(5 - entry[1]) %}
                                <i style="font-size: .5em;" class="far fa-star"></i>
                                {% endfor %}
                            </span>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="col-sm-6 col-lg-6">
            <table class="table table-hover">
                <tbody>
                    {% for entry in technologies_right%}
                    <tr>
                        <td class="skill_title" scope="row">
                            <span>
                                {{entry[0]}}
                            </span>

                        </td>
                        <td class="skill_stars">
                            <span>
                                {% for _ in range(entry[1]) %}
                                <i style="font-size: .5em;" class="fas fa-star"></i>
                                {% endfor %}
                                {% for _ in range(5 - entry[1]) %}
                                <i style="font-size: .5em;" class="far fa-star"></i>
                                {% endfor %}
                            </span>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col-sm-12">
            <h2><b>Tools</b></h2>
        </div>
        <div class="col-sm-6">
            <table class="table table-hover">
                <tbody>
                    {% for entry in tools_left%}
                    <tr>
                        <td class="skill_title" scope="row">
                            <span>
                                {{entry[0]}}
                            </span>
                        </td>
                        <td class="skill_stars">
                            <span>
                                {% for _ in range(entry[1]) %}
                                <i style="font-size: .5em;" class="fas fa-star"></i>
                                {% endfor %}
                                {% for _ in range(5 - entry[1]) %}
                                <i style="font-size: .5em;" class="far fa-star"></i>
                                {% endfor %}
                            </span>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="col-sm-6">
            <table class="table table-hover">
                <tbody>
                    {% for entry in tools_right%}
                    <tr>
                        <td class="skill_title" scope="row">
                            <span>
                                {{entry[0]}}
                            </span>
                        </td>
                        <td class="skill_stars">
                            <span>
                                {% for _ in range(entry[1]) %}
                                <i style="font-size: .5em;" class="fas fa-star"></i>
                                {% endfor %}
                                {% for _ in range(5 - entry[1]) %}
                                <i style="font-size: .5em;" class="far fa-star"></i>
                                {% endfor %}
                            </span>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <div class="jumbotron pl-5">
        <h1 class="display-4 text-center" id="projects">Projects</h1>
        <p class="lead text-center">"Do. Or do not. There is no try." - Yoda</p>

    </div>
    <div class="row">
        {% for repo in repos %}
        <a href="{{repo['url']}}">
            <div class="card mb-3" style="max-width: 18rem;">
                <div class="card-header">{{repo['title']}}</div>
                <div class="card-body">
                    <h5 class="card-title">{{repo['subtitle']}}</h5>
                    <p class="card-text">{{repo['description']}}</p>
                </div>
            </div>
        </a>
        {% endfor %}

        <div class="col-sm-12 text-center mt-4 mb-5">
            <a class="button_link" href="{{ url_for('github')}}">
                {% if github_user_json|length == 0 %}
                ...and many more!
                {% else %}
                ...and {{ github_user_json['public_repos'] }} more on github!
                {% endif %}
            </a>
        </div>
    </div>

    <div class="jumbotron pl-5">
        <h1 class="display-4 text-center" id="resume">Resume</h1>
        <p class="lead text-center">"The Force will be with you. Always." - Obi-Wan Kenobi</p>
    </div>

    <div class="row text-center">
        <div class="col-sm-12 col-md-12">
            <p>
                My resume is automated to be created based on the contents of this website.<br />Upon click the download
                button on <b>either the top right of the navbar</b>, going to <b><a href="{{url_for('resume')}}">
                        {{url_for('resume')}} </a></b>, or <b><a href="{{url_for('resume')}}">clicking here</a></b>, the
                Flask application (this website) will generate a formatted Microsoft Word file and send the file to your
                computer. This will ensure you always get the most up-to-date version of my resume.
            </p>
        </div>
    </div>

    <div class="jumbotron pl-5">
        <h1 class="display-4 text-center" id="contact">Contact</h1>
        <p class="lead text-center">"And my axe!" - Gimli</p>

    </div>

    <div class="row text-center">
        <div class="col-sm-12 col-md-12">
            <p>The best way to contact me is through email or linkedin!</p>
            <a href="mailto:santos.jon.derek@gmail.com">
                <img style="width: 1.5em; filter: invert(17%) sepia(0%) saturate(1641%) hue-rotate(158deg) brightness(96%) contrast(93%);"
                    src="{{ url_for('static', filename='images/svg/envelope.svg') }}" />
                <span>santos.jon.derek@gmail.com</span>
            </a>
            <br />
            <a href="https://www.linkedin.com/in/santosderek/">
                <img style="width: 1.5em; filter: invert(17%) sepia(0%) saturate(1641%) hue-rotate(158deg) brightness(96%) contrast(93%);"
                    src="{{ url_for('static', filename='images/svg/linkedin.svg') }}" />
                <span>https://www.linkedin.com/in/santosderek/</span>
            </a>
        </div>
    </div>
    <div class="row" id="justsomespace">
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
    </div>
</div>

{% endblock %}