{% extends 'base.html' %}
{% block content %}
<div class="jumbotron pl-5">
    <h1 class="display-4 text-center">Projects</h1>
    <p class="lead text-center">Where my inspiration and hobbies are brought to life.</p>
    <hr class="my-4">
</div>
<div class="row">
    <div class="col">
        <h3>Vitality</h3>
        <p>Find and schedule trainers near you.</p>
    </div>
    <div class="col">
        <h3>Imgur to Folder</h3>
        <p>Bulk download imgur albums, tags, or your profile with a single command.</p>
    </div>
    <div class="col">
        <h3>Fruit Flies</h3>
        <p>Controls Kasa light switches with a webapi.</p>
    </div>
    <div class="col">
        <h3>Flask-Kasa</h3>
        <p>Controls Kasa light switches with a webapi.</p>
    </div>
    
</div>
<div class="row">
    <div class="col">
        <h3>... and many more!</h3>
        <p>Github</p>
    </div>
</div>
{% endblock %}